<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../STATIC/CSS/STYLES.CSS">
    
    




<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Correo</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Escriba su correo </div>
    </div>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Nombre</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
    <div id="emailHelp" class="form-text">Escriba su nombre completo</div>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Anotaciones</label>
    <label for=""></label><br>
    
                <textarea name="" id="" rows="10" required style="width: 100%; padding: 8px; margin-bottom: 10px;">
                    
                    
                        </textarea><br>
    </div>
<button type="submit" class="btn btn-primary">Enviar</button>

    
<section class="py-5 bg-white">
    <div class="container">
    <h2 class="text-center mb-4">Empresas Asociadas</h2>
    <div class="marquee">
    <div class="marquee-content d-flex align-items-center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRa3KYEz3rO2wkggGfVSYly0SLlLjSNjpliWg&s" alt="" class="mx-4" height="50px">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSavc1q_wESBAZova7_1C__srSY8_tTjvpSYA&s" alt="" class="mx-4" height="50px">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrOrtKonD2UDH8U48pLwLeFXWzD3LDrJCSYw&s" alt="" class="mx-4" height="50px">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT76jwrr2QDHQata7SxUEUZ74juaUW6jJi9bg&s" alt="" class="mx-4" height="50px">
                            <!-- duplicar -->
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRa3KYEz3rO2wkggGfVSYly0SLlLjSNjpliWg&s" alt="" class="mx-4" height="50px">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSavc1q_wESBAZova7_1C__srSY8_tTjvpSYA&s" alt="" class="mx-4" height="50px">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrOrtKonD2UDH8U48pLwLeFXWzD3LDrJCSYw&s" alt="" class="mx-4" height="50px">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT76jwrr2QDHQata7SxUEUZ74juaUW6jJi9bg&s" alt="" class="mx-4" height="50px">
    </div>
    </div>
    </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>






    
    </form>
    </div>

    </div>
    </div>
    </section>
    <!-- Footer con Redes Sociales -->
    <!-- septima part -->
    <footer class="bg-dark text-white text-center py-4">
    <p class="mb-2">&copy; TomasEspinosa 2026  Adquiera material deportivo aqui</p>
    <div class="social-icons">
    <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.tiktok.com/" target="_blank"><i class="fab fa-tiktok"></i></a>
    
    </div>
    </footer>


<!-- SECCION DE LINES -->
    <!-- segunda part -->

    <link rel="shortcut icon" href="" type="image/x-icon">
    <script src="https://kit.fontawesome.com/a1124a3708.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>


    <!-- MENU PRINCIPAL -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
    <a class="navbar-brand" href="../INDEX.HTML">Inicio
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
    <li class="nav-item">
    <li class="nav-item">
    <a class="nav-link" href="../TEMPLATES/servicios.html">Servicios</a>
    </li>

    
    

    